name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "**"

jobs:
  ci:
    strategy:
      matrix:
        os: [blacksmith-8vcpu-ubuntu-2404]
        version: [22]
    runs-on: ${{ matrix.os }}
    environment: staging
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Pnpm
        uses: pnpm/action-setup@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - run: pnpm run ci
